/* This applies from 0px to 600px */
body {
  background: pink;
}
/* This applies from 600px onward */
/* An example for using MQuerys*/
@media (min-width: 600px) {
  body {
    background: #333333;
  }
}
section {
  grid-area: logIn;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #d2d2d2;
  padding-top: 15vh;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    '. . .'
    '. logIn .'
    '. . .';
}
