/* This applies from 0px to 600px */
body {
  overflow: hidden;
  background: #000;
}
/*body {
  background: black;
}
/* This applies from 600px onward */
/* An example for using MQuerys*/
@media (min-width: 600px) {
  body {
    background: #333333;
  }
}
main {
  grid-area: main;
  display: flex;
  justify-content: center;
}
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10vh;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. . .'
    '. main .'
    '. nav .'
    '. . .';
}
#circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #d2d2d2;
}
