body{
    background-color: #E5E4CC;
}
Nav{
    border-radius: 15px;
    background-color: #698474;
    display: flex;
    justify-content: flex-start;

}

.modal_ing_in{
    padding: 3%;
    border-radius: 15px;
    background-color: #889E81;
    text-align: center;
}   
/* botones del sing up */
.btn_sing_in button{
 background-color: #E5E4CC;
 border-radius: 10px;
 
}

/*modal sing up */
.modal_sing_up{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }