* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E4CC;
    
}

.header_nav {
    font-family: 'Ubuntu', sans-serif;
    height: 5vh;
    padding: 10px;
    background-color: #698474;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_nav_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_nav a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.header_nav-page {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.header_nav-page a {
    margin-top: 12px;
}

.header_nav-user {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

li {
    list-style-type: none;
}

/*.main_container {
    width: 100%;
    height: 82vh;
   background-color: #E5E4CC;
} */

.navbar_bottom {
    width: 100%;
    height: 9vh;
    background-color: #698474;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar_bottom_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar_bottom a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
}

/* ---------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .hello {
        height: 20%;
        background-color: chocolate;

    }
}




.modal_ing_in {

}

/* botones del sing up */

.btn_sing_in button {

}

/*modal sing up */
.modal_sing_up {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: auto;
    top: auto;
    width: 50%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/*Components template string  */
.container {
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    margin-top: 10px;
}

.profile_information {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5(1fr);

}


.profile_description {

}

}
.hide{
    display: none !important;
}
