* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(19, 35, 47, 0.9);

}

.header_nav {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    height: 8vh;
    padding: 10px;
    background-color: #179b77;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_nav_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_nav a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.header_nav-page {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    margin-top: 8px;
}

.header_nav-page a {
    margin-top: 12px;
}

.header_nav-user {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    margin-top: 10px;
}

li {
    list-style-type: none;
}

/*.main_container {
    width: 100%;
    height: 82vh;
   background-color: #E5E4CC;
} */

.navbar_bottom {
    width: 100%;
    height: 8vh;
    background-color: #179b77;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.navbar_bottom_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar_bottom a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.hide {
    display: none;
}
.mjs {
	text-align: center;
}
/* Trabajando erororessss*/
#formError{
  color:yellow;
  font-family: 'Ubuntu', sans-serif;
  padding: 1px;
}


/* ---------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    body {
        background-color:   rgba(19, 35, 47, 1);
    }


}
.signOut{
  display: none;

}






/*modal sing up */
.modal_sing_up {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: auto;
    top: auto;
    width: 50%;
    /* Full width */
    height: 50%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474E5D;
    padding-top: 50px;
}

/*Components template string  */
.container {
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    margin-top: 10px;
}

.profile_information {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5(1fr);

}


.hide{
    display: none !important;
}


/*Sing Up & Log In*/
h1{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    font-size: 30px;
    letter-spacing: 10px;
}
.container_grid_login{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 20% auto;
   /*background: rgba(19, 35, 47, 0.9);*/
   border-radius: 4px;
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
 }

.login_container{
    width: 80%;
   flex-direction: column;
   margin: 0%;
}

.btn_container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0px;
   /* background: rgba(160, 179, 176, 0.25);*/
    width: 100%;


}


  .btn_primary{

    cursor: pointer;
    /*background: rgba(160, 179, 176, 0.25);*/
    background: #179b77;
    border: none;
    color: #ffffff;
    width: 40%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 5%;


}
  .btn_primary:hover {
    background: #179b77;
    color: #ffffff;
  }
  /* .btn_primary .active  {
    background: #1ab188;
    color: #ffffff;
  } */

  .inputs{

    font-size: 22px;
    display: block;
    width: 95%;
    padding: 5px 5px;
    background: transparent;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    margin-top: 5%;
  }
  .inputs:focus {
  outline: 0;
  border-color: #1ab188;
}

  .btn {
    border: 0;
    width: 100%;
    border-radius: 0;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-top: 5%;

  }
  .btn:hover, .btn:focus {
    background: #179b77;
  }
  .view_component{
      height: 80vh;
      background-color: transparent;
      padding: 50px;
      margin-top: 16%;

  }
  .top{
      position: absolute;
      top:0;

  }
  .bottom{
      position: absolute;
      bottom: 0;
  }
  .view_component{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 30px;
  }
   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*navbar btn */
  .btn_post{
    border: none;
    background-color: transparent;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 16px;
    margin: 10px;
  }
  
